PORT=
MONGO_URI=
# URL pública HTTPS usada por Mercado Pago para webhooks
API_URL=
FRONT_URL=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
AUTH0_ISSUER_URL=
AUTH0_AUDIENCE=
MAIL_USER=
##Contraseña de aplicacion
MAIL_PASS=
##Token del usuario que recibirá el dinero
MP_ACCESS_TOKEN=